<h1 class="display-4 text-center"> Cuentas </h1>

<div class="row">
    <div class="col-4">
        <%= form_with do |f| %>
            <%= f.collection_select :bill_id, @bills, :id, :name%>
            <%= f.submit  "Asignar", class: "btn btn-success mt-3" %>
        <% end %>
    </div>
    
    <div class="col-8">
           <%= link_to "Agregar", new_bill_path, class: "btn btn-primary mt-3" %>
        <div class="card text-dark bg-light mt-4">
            <div class="card-header">
                <h5 class="card-title">Cuentas mes #nombreMes</h5>
            </div>

            <table class="table table-bordered">
            <thead>
                <tr>
                <th>Fecha Pago</th>
                <th>Cuenta</th>
                <th>Monto</th>
                <th>Opciones</th>
                </tr>
            </thead>
            <% @bills.each do |bill| %>
            <tbody>
                <tr>
                <th><%= bill.created_at.strftime("%d/%m/%Y") %></th>
                <td><%= bill.name %></td>
                <td><%= bill.price %></td>
                    <td>
                        <%= link_to 'Mostrar', bill_path(bill), class: 'btn btn-info btn-sm' %>
                        <%= link_to 'Editar', edit_bill_path(bill), class: 'btn btn-primary btn-sm' %>
                        <%= button_to "Eliminar", bill_path(bill), method: :delete, :class => "btn btn-danger btn-sm mt-2" %>
                    </td>
                </tr>
            </tbody>
            <% end %>
            </table>
        </div>
    </div>
</div>



