<h1 class="display-4 text-center"> Cuentas </h1>

<div class="row">
    <div class="col-4">
        <%= form_with do |f| %>
            <br>
            <%= f.collection_select :month_id, Month.all, :id, :name,{}, {class: "form-select"}%>
            <%= f.submit  "Buscar", class: "btn btn-primary btn-sm mt-3 form-control" %>
        <% end %>
    </div>
    
    <div class="col-8">
        <div class="card shadow rounded text-dark bg-light mt-4">
            <div class="card-header">
                <h5 class="card-title" id="nombreMes"></h5>
            </div>

            <div class="card-body">
                <table class="table table-bordered text-center">
                <thead>
                    <tr>
                    <th>Fecha Pago</th>
                    <th>Cuenta</th>
                    <th>Monto</th>
                    <th>Opciones</th>
                    </tr>
                </thead>
                <% @bills.each do |bill| %>
                <tbody>
                    <tr>
                    <th><%= bill.created_at.strftime("%d/%m/%Y") %></th>
                    <td><%= bill.name %></td>
                    <td><%= bill.price %></td>
                        <td>
                            <%= link_to 'Editar', edit_bill_path(bill), class: 'btn btn-success btn-sm form-control' %>
                            <%= button_to "Eliminar", bill_path(bill), method: :delete, :class => "btn btn-danger btn-sm mt-2 form-control" %>
                        </td>
                    </tr>
                </tbody>
                <% end %>
                </table>
            </div>
        </div>
           <%= link_to "Agregar", new_bill_path, class: "btn btn-primary btn-sm form-control mt-2" %>
    </div>
</div>

<script type="module">
//    get value month_id
    var month_id = document.getElementById("month_id").value;
    var month_name = document.getElementById("month_id").options[document.getElementById("month_id").selectedIndex].text;
    console.log(month_name);

//    set value month_name
    document.getElementById("nombreMes").innerText = `Cuentas mes ${month_name}`

</script>

